.data__list{
    max-width: 485px;   
}

.item__delete{
    width: max-content;
    height: max-content;
    z-index: 100;
}

.data__subitem label{
    display: none;
}
.data__subitem.label label{
    display: block;
}
/* fsdbgnhmjgl;,hfknjbd hdjvgdjbfknglmh;,'''''' ksfn,dnt;kmehiprgbouewjsvnltnejoihprgobuelnwksm.vfnivougevwabsd */
